/* Vars */
:root {
    --scroll: 0; /* overridden by js */

    --color-day-sky-top: #20c1ec;
    --color-day-sky-middle: #9bdade;
    --color-day-sky-bottom: #f2edbb;
    --color-day-outline: #05252e;
    --color-day-text-light: #fff;
    --color-day-text-dark: #333;

    --color-night-sky-top: #093e4c;
    --color-night-sky-middle: #275662;
    --color-night-sky-bottom: #71848a;
    --color-night-outline: #05252e;
    --color-night-text-light: #fff;
    --color-night-text-dark: #333;

    --color-mountain-front: #b05751;
    --color-daytime-switcher: rgba(170, 170, 170, 0.6);
    --color-daytime-switcher-hover: rgba(200, 200, 200, 0.6);
}

/* Fonts */
@font-face {
    src: url(../fonts/Montserrat-Bold.woff);
    font-family: Montserrat;
    font-weight: bold;
}

@font-face {
    src: url(../fonts/Montserrat-Regular.woff);
    font-family: Montserrat;
    font-weight: normal;
}

@font-face {
    src: url(../fonts/Staatliches-Regular.woff);
    font-family: Staatliches;
    font-weight: normal;
}

@font-face {
    src: url(../fonts/Mountain-Regular.woff);
    font-family: Mountain;
    font-weight: normal;
}

/* Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    overflow:auto;
}

html {
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

input, button, textarea, select {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
}

p {
    margin-top: 1em;
}

/* Generic */
html {
    font-family: Montserrat, sans-serif;
}

.container {
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

h2 {
    font-family: Mountain, sans-serif;
    font-weight: normal;
    font-size: min(80px, max(26px, calc((100vw / 1400) * 80)));
    text-align: center;
}

.content-text {
    margin: 0 auto;
    max-width: 600px;
}

/* Header */
header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 150%;
    max-height: min(1500px, 100vh);
    background-position-x: 43%;
    background-position-y: 0;
    background-repeat: no-repeat;
}

body[data-daytime=day] header {
    background: linear-gradient(180deg, var(--color-day-sky-top) 0%, var(--color-day-sky-middle) 100%);
}

body[data-daytime=day] header::before {
    background-image: url(../images/climber-day.svg);
}

body[data-daytime=night] header {
    background: linear-gradient(180deg, var(--color-night-sky-top) 20%, var(--color-night-sky-middle) 100%);
}

body[data-daytime=night] header::before {
    background-image: url(../images/climber-night.svg);
}

header .container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

body[data-daytime=day] header .team {
    color: var(--color-day-text-dark);
}

body[data-daytime=night] header .team {
    color: var(--color-night-text-light);
}

header .team .name {
    font-family: Staatliches, sans-serif;
    font-weight: normal;
    margin: 0;
    font-size: min(105px, calc(100vw / 13));
    letter-spacing: .08em;
    line-height: 1em;
    overflow: hidden;
}

header .team .slogan {
    font-family: Mountain, sans-serif;
    font-weight: normal;
    font-size: min(50px, calc(100vw / 28));
    margin-left: .15em;
}

header .spacer {
    width: 40%;
    height: min(700px, calc(100vw / 2.3));
}

header .cloud-left {
    position: absolute;
    width: 100%;
    height: 50%;
    max-height: 300px;
    background: url(../images/cloud-left.svg) calc(50% - min(41vw, 600px) - var(--scroll) * min(300px, calc(100vw / 5))) 0 no-repeat;
}

header .cloud-middle {
    position: absolute;
    width: 100%;
    height: 50%;
    max-height: 300px;
    background: url(../images/cloud-middle.svg) calc(50% - var(--scroll) * min(200px, calc(100vw / 6))) 60px no-repeat;
}

header .cloud-right {
    position: absolute;
    width: 100%;
    height: 50%;
    max-height: 300px;
    background: url(../images/cloud-right.svg) calc(50% + min(41vw, 650px) + var(--scroll) * min(200px, calc(100vw / 6))) 30px no-repeat;
}

@media screen and (min-width: 2500px) {
    header::before {
        background-position-x: calc(43% + 5vw);
    }
}

@media screen and (max-width: 1500px) {
    header::before {
        background-size: 370%;
    }

    header .cloud-left {
        background-size: 33%;
    }

    header .cloud-middle {
        background-size: 48%;
    }

    header .cloud-right {
        background-size: 38%;
    }
}

@media screen and (max-width: 767px) {
    header::before {
        background-position-x: 53%;
    }

    header .team .name {
        font-size: calc(100vw / 8);
    }

    header .team .slogan {
        font-size: calc(100vw / 23);
    }

    header .spacer {
        height: calc(100vw / 1.8);
    }

    header .cloud-left, header .cloud-middle, header .cloud-right {
        margin-top: 10%;
    }
}

/* About */
section#about {
    padding: min(300px, 22%) 0 min(200px, 25%) 0;
}

body[data-daytime=day] section#about {
    background: linear-gradient(180deg, var(--color-day-sky-middle) 0%, var(--color-day-sky-bottom) 100%);
    color: var(--color-day-text-dark);
}

body[data-daytime=night] section#about {
    background: linear-gradient(180deg, var(--color-night-sky-middle) 0%, var(--color-night-sky-bottom) 100%);
    color: var(--color-night-text-light);
}

section#about .birds {
    position: absolute;
    width: 100%;
    height: 50%;
    max-height: 120px;
    margin-top: 70px;
    background-position-x: calc(50% + min(20vw, 450px));
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: min(314px, 50%);
}

body[data-daytime=day] section#about .birds {
    background-image: url(../images/birds-day.svg);
}

body[data-daytime=night] section#about .birds {
    background-image: url(../images/birds-night.svg);
}

@media screen and (max-width: 767px) {
    section#about {
        padding: 40% 0 45% 0;
    }
}

/* Join us */
section#join-us {
    padding: min(229px, 18vw) 0 min(250px, 16vw) 0;
    color: var(--color-night-text-light);
    background: var(--color-mountain-front);
}

section#join-us .mountains-peaks {
    position: absolute;
    width: 100%;
    height: min(229px, 16vw);
    margin-top: max(-229px, (-18vw));
    background-position-x: 50%;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: auto min(100%, 16vw);
}

body[data-daytime=day] section#join-us .mountains-peaks {
    background-image: url(../images/mountains-peaks.svg), linear-gradient(180deg, var(--color-day-sky-bottom) 90%, var(--color-mountain-front) 100%);
}

body[data-daytime=night] section#join-us .mountains-peaks {
    background-image: url(../images/mountains-peaks.svg), linear-gradient(180deg, var(--color-night-sky-bottom) 90%, var(--color-mountain-front) 100%);
}

/* Footer */
footer {
    padding: 3em 0;
    text-align: center;
    background: var(--color-day-outline);
    color: var(--color-day-text-light);
}

footer .trees-left {
    position: absolute;
    width: 100%;
    height: 357px;
    margin-top: -357px;
    background: url(../images/trees-left.svg) calc(50% - 500px) 0 no-repeat;
}

footer .trees-right {
    position: absolute;
    width: 100%;
    height: 331px;
    margin-top: -331px;
    background: url(../images/trees-right.svg) calc(50% + 600px) 0 no-repeat;
}

/* Daytime switcher */
#daytime-switcher {
    position: fixed;
    bottom: 20px;
    right: 0;
    width: 44px;
    height: 44px;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    z-index: 20;
}

body[data-daytime=day] #daytime-switcher {
    background: var(--color-daytime-switcher) url(../images/daytime-switcher-moon.svg) 50% 50% no-repeat;
}

body[data-daytime=day] #daytime-switcher:hover {
    background: var(--color-daytime-switcher-hover) url(../images/daytime-switcher-moon.svg) 50% 50% no-repeat;
}

body[data-daytime=night] #daytime-switcher {
    background: var(--color-daytime-switcher) url(../images/daytime-switcher-sun.svg) 50% 50% no-repeat;
}

body[data-daytime=night] #daytime-switcher:hover {
    background: var(--color-daytime-switcher-hover) url(../images/daytime-switcher-sun.svg) 50% 50% no-repeat;
}
